@model IEnumerable<MVCWebUI.Models.Entity.Movie>

@foreach (var movie in Model)
{
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img class="card-img" src="~/img/@movie.ImageUrl" alt="@movie.Description" />
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@movie.Id">@movie.Name</a>  
                    </h5>
                    <p class="card-text">
                        @movie.Description
                    </p>
                    <p class="card-text">
                        <small class="text-muted">3 days ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
}


