@model List<MVCWebUI.Models.Entity.Category>

<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action ">Tüm kateqoriler</a>

    @foreach (var category in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-id="@category.Id" class="list-group-item list-group-item-action  @(ViewBag.SelectedCategory==category.Id.ToString()?"active ":"")">@category.Name</a>
    }
</div>